.page {
  min-width: 1100px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}
body {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

h1,
h2,
h3 {
  font-family: "Noto Serif", Times New Roman, serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Adicione propriedades flexíveis aqui */
}

.nav__logo {
  display: flex;
  justify-content: flex-start;
  height: 80px;
  width: 58px;
}

.nav__links {
  display: flex;
  align-items: center;
  column-gap: 20px;
  list-style: none;
  /* Redefinir estilos de lista padrão aqui */
  margin: 8px 0 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #1f69c9;
}

.footer {
  box-sizing: border-box;
  background-color: #1f1f1f;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  height: auto;
  width: 100%;
  justify-content: space-between;
}

.footer__columns {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__column_content_hours {
  width: auto;
  font-size: 16px;
  line-height: 20px;
  margin-left: auto;
  margin-right: 80px;
  margin-top: 60px;
}

.footer__column_content_social {
  width: auto;
  font-size: 16px;
  line-height: 20px;
  margin-right: 80px;
  margin-top: 60px;
}

.footer__logo {
  height: 80px;
  width: 58px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: 80px;
}

.footer__list {
  /* O código abaixo remove os estilos do navegador padrão para listas */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin-top: 20px;
  font-size: 16px;
  line-height: 20px;
}

.footer__column-heading {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 20px;
}

.footer__column-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-left: 80px;
  margin-right: 80px;
}
.footer__column-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.footer__copyright {
  padding-bottom: 60px;
  margin-left: 80px;
  margin-top: 100px;
}
